body {
  background-color: #d9d9d9;
}

nav.navbar {
  background-color: #2c2c2c;
  padding: 5px 200px;
  
}

.navbar > img {
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 20px;
}

input.form-control {
  opacity: 0;
  width: 1px;
}

.search {
  display: flex;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  opacity: 0;
  transition-duration: 0.5s;
  width: 10%;
}

.search input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #888;
  width: 100%;
  outline: 0;
}

.search-visible .search {
  display: flex;
  opacity: 1;
  z-index: 1;
  width: 75%;
  transition-duration: 0.5s;
}

.btn-group {
  transition-duration: 0.5s;
}

.search-visible .btn-group {
  opacity: 0;
  transition-duration: 0.5s;
}

.btn-group .btn.dropdown-toggle {
  background-color: none;
  color: #ccc;
}

.btn-group .btn:hover{
    color: rgb(255, 255, 255);
}

.highlights > p {
  display: inline-block;
}

.highlights {
  border-bottom: 1px solid #bcbcbc;
}

.cards{
margin: 0 auto;
padding-right: 10px;
}

.card {
  background-color: #ededed;
  width: 16.4rem;
  height: 14rem;
  display: inline-block;
  margin-left: 12px;
  margin-right: 4px;
}

#short-introduction{
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
}

#short-introduction p{
  font-size: 14px;
  margin-left: 70px;
}

#galaxy{
    color: purple;
    font-weight:500;
    font-size: 15px;
    text-decoration: none;
    margin-left: 40px;
    padding: 5px;
}

.linked-text a{
    text-align: center;
    margin-left: 18px;
    text-decoration: none;
    color: #666666;
    font-weight: 500;
}

.needBorder{
  border-bottom: 3px solid purple;
  padding-bottom: 15px;
}

.linked-text{
 margin-left: 200px;
  border-bottom: 1px solid #bcbcbc;
}

.linked-text a:hover{
    color: purple;
}

#featured-deals{
    justify-content: space-between;
    margin-left: 150px;
}

.featured{
  margin-right: 12px;
  position: abso;
}

.featured:hover {
  -moz-box-shadow: 1px 1px 1px #999;
  -webkit-box-shadow: 1px 1px 1px #999;
   box-shadow: 1px 1px 1px #999;
   opacity: 0.7;
   transition: 0.3s ease-in;
   width: 275px;
   height: 455px;
}

.chevron-right, .chevron-left{
  margin-top: 200px;
  opacity: 0.7;
}

.chevron-left{
  margin-right: 10px;
}

.chevron-left.featured:last-of-type{
  margin-right: 10px;
}

.good-section{
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}

#big-card-good{
  border: 1px solid #ededed;
  border-width: 50px;
}
